.cover__link {
  position: relative;
  width: 100%;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  text-decoration: none;
  z-index: 1;
}

.cover__link::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #2A2C2F;
	opacity: 0.3;
  transition: opacity 0.5s linear;
}

.cover__link:hover::before {
  opacity: 0.8;
}