.cover__subtitle {
  max-width: 360px;
  grid-column: 1/4;
  grid-row: 2/3;
  z-index: 3;
  align-self: start;
  justify-self: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 350px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}