.lead__title {
  display: flex;
  color: #ffffff;
  width: 720px;
  height: 200px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.lead__title {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 350px) {
	.lead__title {
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}