.footer__copyright {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  max-width: 186px;
  margin: 0;
}

@media screen and (max-width: 687px) {
  .footer__copyright {
    margin-top: 16px;
    line-height: 14px;      
  }
}