@font-face {
  font-family: "Inter-ExtraBold", 'Arial', 'Helvetica', sans-serif; 
  src: local('Inter-ExtraBold'),
       url(fonts/inter/Inter-ExtraBold.woff2) format("woff2"), 
       url(fonts/inter/Inter-ExtraBold.woff) format("woff"); 
}

@font-face {
  font-family: "Inter", 'Arial', 'Helvetica', sans-serif; 
  src: local("Inter"),
       url(fonts/inter/Inter.var.woff2) format("woff2"), 
       url(fonts/inter.var.woff) format("woff"); 
}