@font-face {
  src: url("inter/Inter-Regular.woff") format('woff'),
       url("inter/Inter-Regular.woff2") format('woff2'),
       url("inter/Inter-Regular.ttf") format('truetype');
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
}

@font-face {
  src: url("inter/Inter-Bold.woff2") format('woff'),
       url("inter/Inter-Bold.woff2") format('woff2'),
       url("inter/Inter-Bold.ttf") format('truetype');
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
}

@font-face {
  src: url("inter/Inter-ExtraBold.woff") format('woff'),
       url("inter/Inter-ExtraBold.woff2") format('woff2'),
       url("inter/Inter-ExtraBold.ttf") format('truetype');
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 900;
}