.place {
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 984px;
  margin-bottom: 80px;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-column-gap: 28px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 350px) {
  .place {
    grid-row-gap: 32px;
    margin-bottom: 50px;
  }
}