.header__lang-links {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 18px;
  list-style-type: none;
}

@media screen and (max-width: 350px) {
  .header__lang-links {
    padding-top: 14px;
  }
}