.intro__title {
  margin: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  max-width: 690px;
}

@media screen and (max-width: 540px) {
  .intro__title {
    font-size: 46px;
    line-height: 48px;
  }
}

@media screen and (max-width: 450px) {
  .intro__title {
    font-size: 36px;
    line-height: 38px;
  }
}

@media screen and (max-width: 350px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}